<pgk-canter-card layout="column">
  <form [formGroup]="form" fxLayout="column" class="roles-upsert-container">

    <mat-form-field>
      <mat-label>{{'user-management.roles-upsert.name' | translate}}</mat-label>
      <input matInput formControlName="{{ctrlName}}" name="pgk-roles-upsert-name" autocomplete="off" required
             placeholder="{{'user-management.roles-upsert.name-placeholder' | translate}}">
      <mat-error *ngIf="form.get(ctrlName).hasError('requiredTrim')">
        {{'user-management.roles-upsert.invalid-form.empty-name' | translate}}
      </mat-error>
      <mat-error *ngIf="form.get(ctrlName).hasError('notUnique')">
        {{'user-management.roles-upsert.invalid-form.not-unique-name' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user-management.roles-upsert.select-authorities' | translate}}</mat-label>
      <mat-select formControlName="{{ctrlAuthorities}}" [(ngModel)]="selectedAuthorities" multiple required>
        <mat-option *ngFor="let model of selectAuthorityModels" [value]="model" [disabled]="model.disabled"
                    [matTooltip]="model.translateDescription" matTooltipPosition="before">
          {{model.translateName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get(ctrlAuthorities).hasError('required')">
        {{'user-management.roles-upsert.invalid-form.empty-authority' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user-management.roles-upsert.description' | translate}}</mat-label>
      <textarea matInput formControlName="{{ctrlDescription}}" rows="5" name="pgk-roles-upsert-description"
                placeholder="{{'user-management.roles-upsert.description-placeholder' | translate}}"></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="clickSave()"
          [disabled]="!form.valid">
    {{'common.save' | translate}}
  </button>
</pgk-canter-card>

