<mat-toolbar color="primary" class="navbar">

  <div *ngIf="loggedUser">
    <button mat-icon-button (click)="clickUserManagement()">
      <mat-icon svgIcon="user_management" [matTooltip]="'user-management.user-management' | translate"></mat-icon>
    </button>

    <button mat-icon-button (click)="clickInfo()">
      <mat-icon svgIcon="info" [matTooltip]="'app-info.app-info' | translate" matTooltipPosition="after"></mat-icon>
    </button>
  </div>

  <div fxFlex></div>

  <div *ngIf="loggedUser" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span class="user-name" [matTooltip]="loggedUser.email" matTooltipPosition="before">
      {{loggedUser.firstName}} {{loggedUser.lastName}}
    </span>
    <button mat-icon-button (click)="clickSignOut()">
      <mat-icon svgIcon="logout" [matTooltip]="'sign-in.sign-out' | translate"></mat-icon>
    </button>
  </div>

</mat-toolbar>
