/* You can add global styles to this file, and also import other style files */

@import "src/app/common/styles/pgk-styles";

html, body {
  height: 100%;
  text-align: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

mat-form-field {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
