<h2 mat-dialog-title>{{'user-management.user-upsert.trying-to-change-password' | translate}}</h2>

<div mat-dialog-content fxLayout="column" [formGroup]="form">

  <mat-form-field>
    <mat-label>{{'common.email' | translate}}</mat-label>
    <input matInput readonly [value]="user?.email || ''">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'common.first-name' | translate}}</mat-label>
    <input matInput readonly [value]="user?.firstName || ''">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'common.last-name' | translate}}</mat-label>
    <input matInput readonly [value]="user?.lastName || ''">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'user-management.user-upsert.password' | translate}}</mat-label>
    <input matInput formControlName="{{ctrlPassword}}" (blur)="blurPassword()"
           [type]="hidePassword ? 'password' : 'text'" autocomplete="off" name="pgk-user-upsert-password"
           placeholder="{{'user-management.user-upsert.password-placeholder' | translate}}">
    <button matSuffix mat-icon-button>
      <mat-icon (click)="hidePassword = !hidePassword" [svgIcon]="hidePassword ? 'visibility_off' : 'visibility'"></mat-icon>
    </button>
    <mat-error *ngIf="form.get(ctrlPassword).hasError('required')">
      {{'user-management.user-upsert.invalid-form.empty-password' | translate}}
    </mat-error>
    <mat-error *ngIf="form.get(ctrlPassword).hasError('passwordsDoNotMatch')">
      {{'user-management.user-upsert.invalid-form.passwords-do-not-match' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'user-management.user-upsert.password-repeat' | translate}}</mat-label>
    <input matInput formControlName="{{ctrlPasswordRepeat}}" (blur)="blurPassword()"
           [type]="hidePassword ? 'password' : 'text'" autocomplete="off" name="pgk-user-upsert-password-repeat"
           placeholder="{{'user-management.user-upsert.password-repeat-placeholder' | translate}}">
    <button matSuffix mat-icon-button>
      <mat-icon (click)="hidePasswordRepeat = !hidePasswordRepeat"
                [svgIcon]="hidePasswordRepeat ? 'visibility_off' : 'visibility'"></mat-icon>
    </button>
    <mat-error *ngIf="form.get(ctrlPasswordRepeat).hasError('required')">
      {{'user-management.user-upsert.invalid-form.empty-password-repeat' | translate}}
    </mat-error>
    <mat-error *ngIf="form.get(ctrlPasswordRepeat).hasError('passwordsDoNotMatch')">
      {{'user-management.user-upsert.invalid-form.passwords-do-not-match' | translate}}
    </mat-error>
  </mat-form-field>

</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button mat-dialog-close [disabled]="loading">
    {{'common.cancel' | translate}}
  </button>
  <button mat-raised-button color="accent" [disabled]="loading || !form.valid" (click)="changePassword()">
    {{'common.confirm' | translate}}
  </button>
</div>
