@import "variables";

mat-form-field {
  margin-top: $mat-form-field-top-bottom-margin;
  margin-bottom: $mat-form-field-top-bottom-margin;
}

table {
  width: 100%;
}

.pgk-add-bottom {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}

.pgk-container {
  position: relative;
  overflow: auto;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.pgk-center-content-container {
  top: 0;
  left: 0;
  width: 100%;
  height: $content-max-height;
  position: relative;
}

.pgk-clear-filter-button {
  top: 4px;
  margin-top: $mat-form-field-top-bottom-margin;
}

.pgk-paginator-container {
  display: flex;
  padding: 0 1.5%;
  margin: 0;
}
