@import "variables";

.add-bottom {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}

mat-form-field {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pgk-center-content-container {
  top: 0;
  left: 0;
  width: 100%;
  height: $content-max-height;
  position: relative;
}
