<div mat-dialog-content>

  <div *ngIf="!loading; else loader" fxLayout="column">

    <mat-form-field>
      <mat-label>{{'user-management.role-auditing.name' | translate}}</mat-label>
      <input matInput readonly [value]="auditingInfo?.role?.name || ''">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user-management.role-auditing.description' | translate}}</mat-label>
      <textarea matInput readonly rows="3" [value]="auditingInfo?.role?.description || ''"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user-management.role-auditing.id' | translate}}</mat-label>
      <input matInput readonly [value]="auditingInfo?.role?.id || ''">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user-management.role-auditing.version' | translate}}</mat-label>
      <input matInput readonly [value]="auditingInfo?.role?.entityVersion || ''">
    </mat-form-field>

    <pgk-auditing-info [auditing]="auditingInfo?.auditing" fxLayout="column"></pgk-auditing-info>

  </div>

  <ng-template #loader>
    <pgk-loader></pgk-loader>
  </ng-template>

</div>
